name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Verify RBIs and typecheck
        run: ./bin/tc.rb

      - name: Run tests
        run: bundle exec rake test
